body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
    margin:10mm auto;
    width:210mm;
    max-width: 800;
    line-height: 1.4;

}


.container{
    padding:10px 20px;
    border:1px solid black
}


h1{
    font-size:20px;
    margin: 0px;
}


a{
    font-size: 13px;
    text-decoration: none;
}


h2{
    margin-top:10px;
    font-size: 16px;
    border-bottom: 1px solid black;
}

.small-text{
    color:rgb(82, 77, 77);
    font-size:12px;
}

ul{
    padding: 0;
}

li{
    margin:0;
    padding:0;
    margin-bottom: 3px;
}